.like_button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 35px;
  border-radius: 8px;
  background-color: var(--theme-bg-color);
  border: none;
  color: white;
  cursor: not-allowed;
}
